/* #602080
#b030b0 */

.button-style {
  padding: 20px;
  border-radius: 3px;
  border: 0;
  color: white;
  width: 100%;
  margin-top: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.buttonBox {
  padding: 5px;
  width: 100%;
  margin: auto;
}
.btn-red {
  background: rgb(206, 58, 58);
}
.btn-red:hover {
  background: rgb(230, 79, 79);
}
.btn-red:active {
  background: rgb(233, 15, 15);
}
.btn-primary {
  background: #34349c;
}
.btn-primary:hover {
  background: #3b5fc0;
}
.btn-primary:active {
  background: #0000ff;
}
