.navbox {
  background: rgb(9, 11, 11);

  min-height: 800px;
}
.nav-box > h2 {
  color: white;
  text-align: center;
}
.nav-link {
  list-style: none;
  color: white;
  padding: 20px;
  font-weight: bold;
}
.navLink {
  color: white;
  transition: all 0.3s ease-in;
}
.navLink:hover {
  background: rgb(36, 38, 182);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  color: white;
}

.li-clicked {
  background: white;
  color: black;
  padding: 20px;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease-in;
}
